.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow: dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  height: 50px;
}

.logo {
  width: 60px;
  grid-column: -3; /* create an implicit one at the beginning */
  align-self: center;
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  grid-column: 1; /* take the explicit one */
  padding-left: 150px;
}

.menus * {
  padding: 5px;
}
